<ion-view title='<img class="title-image" src="images/logoHeader.png" />'>

    <ion-nav-buttons side="left">
        <button ng-show="isShowGoBack" class="button button-icon icon ion-ios7-arrow-back" ng-click="myGoBack()"><span id="backText">  {{'Atras' | translate}}</span></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios-search-strong"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
      <span class="title">{{recipe.name}}</span>
    </div>
    <ion-content class="has-header has-sub-header content-recipe" scroll-watch>

        <div class="row category-header-portrait" style="background-image: url('{{urlImg}}/recipesItemPortrait/{{recipe.id}}-{{recipe.pictureBaseName}}');background-repeat: no-repeat; background-size:cover;"></div>

        <div class="row category-header-landscape" style="background-image: url('{{urlImg}}/recipesItemLandscape/{{recipe.id}}-{{recipe.pictureBaseName}}');background-repeat: no-repeat; background-size:cover;"></div>

        <div class="card recipe-info">
            <div class="row responsive-550 text-center">
                <div class="col">
                    <div class="row">
                        <div class="col cell-people">
                            <i class="icon ion-ios-people"></i> {{recipe.people}}
                        </div>
                        <div class="col cell-time">
                            <i class="icon ion-ios-timer-outline"></i> {{recipe.time}}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col cell-cost">
                            <i class="icon ion-social-euro"></i> {{recipe.cost}}
                        </div>
                        <div class="col">
                            <span ng-if="recipe.difficulty == 'easy'">
                                <i class="icon ion-android-alert semaphore semaphore-green"></i><i class="icon ion-android-alert semaphore semaphore-gray"></i><i class="icon ion-android-alert semaphore semaphore-gray"></i>
                            </span>

                            <span ng-if="recipe.difficulty == 'medium'">
                                <i class="icon ion-android-alert semaphore semaphore-green"></i><i class="icon ion-android-alert semaphore semaphore-yellow"></i><i class="icon ion-android-alert semaphore semaphore-gray"></i>
                            </span>

                            <span ng-if="recipe.difficulty == 'hard'">
                                <i class="icon ion-android-alert semaphore semaphore-green"></i><i class="icon ion-android-alert semaphore semaphore-yellow"></i><i class="icon ion-android-alert semaphore semaphore-red"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col">
                    <p><strong style="color: #43CEE6;">{{'Ingredientes' | translate}}:</strong></p>
                    <div ng-bind-html="recipe.ingredients"></div>
                </div>
            </div>
        </div>

        <div class="card card-directions">
            <div class="row">
                <div class="col">
                    <p><strong style="color: #43CEE6;">{{'Pasos' | translate}}:</strong></p>
                    <div ng-bind-html="recipe.directions | to_trusted"></div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row" ng-show="recipe.tagsLiteral">
                <div class="col">
                    <p><strong style="color: #43CEE6;">{{'Etiquetas' | translate}}:</strong></p>
                    <div ng-bind-html="recipe.tagsLiteral"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><strong style="color: #43CEE6;">{{'Categorias' | translate}}:</strong></p>
                    <div ng-bind-html="recipe.categoriesLiteral"></div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
