SetEnv APPLICATION_ENV development

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteRule ^(.*/)?\.svn/ - [F,L]  

#Header set Access-Control-Allow-Origin "*"
#Header set Access-Control-Allow-Methods "GET, PUT, POST, OPTIONS, DELETE"
#Header set Access-Control-Allow-Credentials "true"
#Header set Access-Control-Allow-Headers "Authorization, Origin, Content-Type, X-CSRF-Token"