<ion-view title="{{category.name}}">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-ios-search-strong"></button>
    </ion-nav-buttons>

    <ion-content class="has-header list-color list-space-footer-tabs">

        <div class="row category-header-portrait" style="background-image: url('{{urlImg}}/categoriesItemPortrait/{{category.id}}-{{category.imgBaseName}}');">
            <div class="col">
                <h1>{{category.name}}</h1>
            </div>
        </div>
    
        <div class="row category-header-landscape" style="background-image: url('{{urlImg}}/categoriesItemLandscape/{{category.id}}-{{category.imgBaseName}}');">
            <div class="col">
                <h1>{{category.name}}</h1>
            </div>
        </div>
        
        <ion-list>
        
            <ion-item class="card recipes-list-item" ng-repeat="recipe in recipes | orderBy:'name':isReverse | filter:searchCategory" >
            
                <div class="row">

                    <a href="#/app/recipes/{{recipe.id}}" style="max-height: 110px;">
                        <img ng-src="{{urlImg}}/recipesList/{{recipe.id}}-{{recipe.pictureBaseName}}" />
                    </a>

                    <div class="col">

                        <a href="#/app/recipes/{{recipe.id}}" style="max-height: 110px;">

                            <div class="row">
                                <h2>{{recipe.name}}</h2>
                            </div>

                            <div class="row">
                            
                                <div class="col">
                                    <p><i class="icon ion-ios-people"></i> {{recipe.people}}</p>
                                    <p><i class="icon ion-social-euro"></i> {{recipe.cost}}</p>
                                </div>

                                <div class="col">
                                    <p><i class="icon ion-ios-timer-outline"></i> {{recipe.time}}</p>
                                    
                                    <p ng-if="recipe.difficulty == 'easy'">
                                        <i class="icon ion-ios-star"></i><i class="icon ion-ios-star-outline"></i><i class="icon ion-ios-star-outline"></i>
                                    </p>
                                    
                                    <p ng-if="recipe.difficulty == 'medium'">
                                        <i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star-outline"></i>
                                    </p>
                                    
                                    <p ng-if="recipe.difficulty == 'hard'">
                                        <i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i><i class="icon ion-ios-star"></i>
                                    </p>
                                    
                                </div>
                                
                            </div>
    
                        </a>
                    </div>
                </div>
            </ion-item>

        </ion-list>
    
    </ion-content>
    
    <div class="bar bar-subfooter" ng-show="isSearchRecipe" style="height: auto; background: #F8F8F8; border-top: solid 1px #D7D7D7;">
        <div class="list list-inset" style="margin-top: 4px;">
            <label class="item item-input">
                  <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="searchCategory.name" type="text" placeholder="Nombre de la recetea" />
            </label>
        </div>
    </div>
    
    <div class="bar bar-footer" style="padding: 0px; border-top: none !important;">
        <div class="tabs tabs-icon-only footer-tabs" style="border-top: none !important;">
            <a class="tab-item" href="#/app/categories">
                <i class="icon ion-android-restaurant"></i>
            </a>
        
            <a class="tab-item" ng-click="revertStatus()">
                <i class="icon" ng-show="isReverse" >A - Z</i>
                <i class="icon" ng-show="!isReverse" >Z - A</i>
            </a>
            
            <a class="tab-item" ng-click="searchRecipe()">
                <i class="icon ion-ios-search-strong"></i>
            </a>
        </div>
    </div>
   
</ion-view>