<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-calm"></ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-calm">
            <h1 class="title menu-title">
                <a href="#/app/categories">Categorias</a>
            </h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ng-repeat="category in categories" href="#/app/categories/{{category.id}}">
                    {{category.name}}
                </ion-item>
                
                <ion-item class="item-divider">
                    Hola que hace
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right" ng-repeat="page in staticPages" href="#/app/static-page/{{page.id}}">
                    {{page.title}}
                    <i class="icon ion-arrow-right-c"></i>
                </ion-item>
                
                <ion-item class="item-divider">
                    Síguenos en:
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right" ng-repeat="social in socialNetworks" ng-click="href(social.url, '_system')">
                    {{social.title}}
                    <i class="icon {{social.icon}}"></i>
                </ion-item>
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
    
    <ion-side-menu side="right">
        <header class="bar bar-header bar-calm">
            <h1 class="title menu-title">
                Buscador
            </h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <form ng-submit="search(formData)">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Nombre de la receta</span>
                            <input type="text" placeholder="Tortilla" ng-model="formData.recipe" />
                        </label>
        
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Categoria:
                            </div>
                            <select ng-model="formData.category">
                                <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </label>
        
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Etiquetas:
                            </div>
                            <select ng-model="formData.tag">
                                <option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.name}}</option>
                            </select>
                        </label>
                    </div>
                    
                    <div class="padding">
                        <button class="button button-block button-calm activated icon-left ion-ios-search-strong">Buscar</button>
                    </div>
                    
                </form>
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
    
</ion-side-menus>