<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-calm">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Atras</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-calm">
            <h1 class="title">
                <a href="#/app/categories">Categories</a>
            </h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ng-repeat="category in categories" href="#/app/categories/{{category.id}}">
                    {{category.name}}
                </ion-item>
                
                <ion-item class="item-divider">
                    Hola que hace
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right" ng-repeat="page in staticPages" href="#/app/static-page/{{page.id}}">
                    {{page.title}}
                    <i class="icon ion-arrow-right-c"></i>
                </ion-item>
                
                <ion-item class="item-divider">
                    Síguenos en:
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-right" ng-repeat="social in socialNetworks" ng-click="href(social.url, '_system')">
                    {{social.title}}
                    <i class="icon {{social.icon}}"></i>
                </ion-item>
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
